---
import { getLinks } from "../data/links";
const links = getLinks();
---

<div class="sidebar">
  <img src="/download.png" alt="Download Logo" />
  {links.map((link) =>
    link.heading ? (
      <a href={link.href}><h2>{link.label}</h2></a>
    ) : (
      <a href={link.href}>{link.label}</a>
    )
  )}
</div>